[defaults]
inventory = inventory/hosts.yml
host_key_checking = True
retry_files_enabled = False
stdout_callback = yaml
interpreter_python = auto_silent
vault_password_file = .vault_pass    # gitignored; create locally

[privilege_escalation]
become = True
become_method = sudo
